/* body
{
    color: rgb(73, 73, 73);
}

h1
{
    color: red;
}

h2
{
    color: rgb(116, 160, 243);
}

#lib-001
{
    color: maroon;
}

.para
{
    color: purple;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
}

